<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Signin Template for Bootstrap</title>
    <script src="vue.js"></script>
    <script src="vue-resource@1.3.4.js"></script>
</head>

<body>
    <div id="app">
        <div v-if="loggedIn">
            <a v-on:click="me" href="#">Me</a> |
            <a v-on:click="catalog" href="#">Catalog</a> |
            <a v-on:click="logout" href="#">Logout</a>
            <h2>User Information</h2>
            <div>Token: {{token}}</div>
            <div>Firstname: {{firstname}}</div>
            <div>Lastname: {{lastname}}</div>
        </div>
        <div v-else>
            Username: <input v-model="username"> Password: <input v-model="password">
            <button v-on:click="login">Login</button>
        </div>
    </div>

    <script>
        Vue.http.interceptors.push(function (request, next) {
            request.headers.set('Authorization', 'Bearer ' + this.token);
            next();
        });

        var app = new Vue({
            el: '#app',
            data: {
                username: 'ralf',
                password: 'test1234',
                firstname: '',
                lastname: '',
                loggedIn: false,
                token: ''
            },
            methods: {
                login: function () {
                    this.$http.post('http://localhost:4000/api/login', { username: this.username, password: this.password }).then(response => {
                        this.token = response.body;
                        this.loggedIn = true
                        this.me()
                    }, response => {
                        this.token = "error";
                    });
                },
                logout: function () {
                    this.token = "";
                    this.firstname = ''
                    this.lastname = ''
                    this.loggedIn = false
                    this.$http.headers.Authorization = ""
                },
                catalog: function () {
                    this.$http.get('http://localhost:5e000/api/catalog/products').then(response => {
                        alert("status: " + response.status)                        
                    }, response => {
                        alert("status: " + response.status)
                    });
                },
                me: function () {
                    this.$http.get('http://localhost:4000/api/users/me').then(response => {
                        this.firstname = response.body.Firstname;
                        this.lastname = response.body.Lastname;
                    }, response => {
                        alert("status: " + response.status)
                    });
                }
            }
        })
    </script>

</body>

</html>